:root {
	color-scheme: dark;
	--color-text: white;
	--color-theme: oklch(68.23% 0.1751 246.71);
	--color-bg: oklch(from var(--color-theme) 20% 0.01 h);
	--color-theme-bg: oklch(from var(--color-theme) 22% 0.0225 h);
	--color-theme-text: oklch(from var(--color-theme) 80% 0.0983 h);
}

:root {
	height: 100%;
	font-family: sans-serif;
	font-size: 110%;
}

body {
	height: 100%;
	margin: 0;
}
