:root {
	color-scheme: light dark;
	--color-text: light-dark(black, white);
	--color-text-muted: light-dark(#666, #999);
	--color-theme: #1f336e;
	--color-primary: light-dark(
		oklch(from var(--color-theme) 60% 0.2 h),
		oklch(from var(--color-theme) 80% 0.18 h)
	);
	--color-text-on-primary: light-dark(white, black);
	--color-bg: light-dark(
		oklch(from var(--color-theme) 95% 0.02 h),
		oklch(from var(--color-theme) 17% 0.01 h)
	);
	--color-modal-bg: light-dark(
		oklch(from var(--color-theme) 95% 0.04 h),
		oklch(from var(--color-theme) 30% 0.01 h)
	);
	--color-card-bg: light-dark(
		oklch(from var(--color-theme) 80% 0.06 h),
		oklch(from var(--color-theme) 25% 0.017 h)
	);
	--color-input-bg: light-dark(
		oklch(from var(--color-theme) 85% 0.03 h),
		oklch(from var(--color-theme) 21% 0.012 h)
	);
	--icon-color: light-dark(black, white);

	--color-record: oklch(45.55% 0.1619 27.24);
	--color-record-blink: oklch(38.72% 0.1455 27.24);

	--color-record-shadow: oklch(from var(--color-record-blink) l c h / 0.8);
	--color-record-hover: light-dark(
		oklch(77.6% 0.1038 27.24),
		oklch(38.13% 0.0972 27.24)
	);
}

:root[data-theme="light"] {
	--color-record: oklch(64.84% 0.1949 27.24);
	--color-record-blink: oklch(78.78% 0.1229 27.24);
}

:root {
	height: 100%;
	font-family: sans-serif;
	font-size: 110%;
}

body {
	height: 100%;
	margin: 0;
	background-color: var(--color-bg);
	color: var(--color-text);
}
