:root {
	color-scheme: light dark;
	--color-text: light-dark(black, white);
	--color-text-muted: light-dark(#666, #999);
	--color-theme: #1f336e;
	--color-primary: light-dark(
		oklch(from var(--color-theme) 60% 0.2 h),
		oklch(from var(--color-theme) 40% 0.18 h)
	);
	--color-bg: light-dark(
		oklch(from var(--color-theme) 95% 0.02 h),
		oklch(from var(--color-theme) 17% 0.01 h)
	);
	--color-modal-bg: light-dark(
		oklch(from var(--color-theme) 95% 0.04 h),
		oklch(from var(--color-theme) 30% 0.01 h)
	);
	--color-card-bg: light-dark(
		oklch(from var(--color-theme) 80% 0.06 h),
		oklch(from var(--color-theme) 25% 0.017 h)
	);
	--color-input-bg: light-dark(
		oklch(from var(--color-theme) 85% 0.03 h),
		oklch(from var(--color-theme) 21% 0.012 h)
	);
	--icon-color: light-dark(black, white);
}

:root {
	height: 100%;
	font-family: sans-serif;
	font-size: 110%;
}

body {
	height: 100%;
	margin: 0;
	background-color: var(--color-bg);
	color: var(--color-text);
}
